/* Contenedor principal */
.news-form {
  margin-top: 80px;
  margin-left: 20px;
  width: 90vw;
  height: 100vh; /* Aseguramos que ocupe toda la altura */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; /* Para que el contenido comience desde la parte superior */
}

/* Título */
.news-form h2 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
}

/*category selector*/
.category-selector {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  font-family: Arial, sans-serif;
}

.category-selector select {
  width: 100%;
  max-width: 250px;
  padding: 8px;
  border: 2px solid #007bff;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}

.category-selector select:hover {
  border-color: #0056b3;
}

.category-selector select:focus {
  outline: none;
  border-color: #004494;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Input y textarea */
.news-form input,
.news-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* Contenedor para el botón */
.button-container {
  display: flex;
  justify-content: flex-end;
}

/* Botón */
.news-form button {
  background: #2563eb;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.news-form button:hover {
  background: #1e40af;
}
